extends menu

block contentMenu
  if passport
    p req.session.passport:
      ul
        for val, key in passport
          li #{key}: #{val}
  if log_info
    p res.locals.logInfo ('Logged' + req.user.username):
      ul: li #{log_info}
  if user
    p req.user
      ul
        for val, key in user
          li #{key}: #{val}
