extends layout
block content
    nav( class="navbar navbar-expand-lg navbar-light bg-light")
      div( class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(class="nav-link", href="/wazne-dane")="Important data"
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Users"
            div(class="dropdown-menu", aria-labelledby="navbarDropdown")
             a(class="dropdown-item" href="/users")="User Info"
             a(class="dropdown-item", href="/users/reset")="Reset User"
             div(class="dropdown-divider")
             a(class="dropdown-item", href="/session")="Session"
             a(class="dropdown-item", href="/logged")="Logged"
          li(class="nav-item")
            a(class="nav-link", href="/login")="Login"
          li(class="nav-item")
            a(class="nav-link", href="/register")="Register"
          li(class="nav-item")
            a(class="nav-link", href="/logout")="Logout"

    div(class="container")
      div(clas="row ")
        div(class="mx-auto")
          div( class="card col-16 text-center mx-auto d-block")
            block contentMenu